$white: #fff !default;
$sale-bg:#FAD749 !default;
$bg-button:#ff8175 !default;
$icon-nav:#6c757d !default;
$nav-right-c:#6c757d !default;
$black:#212529 !default;
$gray-caption:#6c757d !default;
$h5-color: #92a0b6 !default;
$grey-pro: #343a40 !default;

$home: #eedbee !default;
$home-hover: #6610f2 !default;
$left-color: #bbaebb !default;
$left-hover: #212529 !default;
$facebook:#3163a2 !default;
$twitter:#2fb1eb !default;
$linkdin:#0077B5 !default;
$instagram:#F77737 !default;
$card-border:#ebebeb !default;
$body-color:#FBFBFB !default;
$exist:#c5e60c !default;
$notexist:#ea0000 !default;
$background-fas: #F2F2F2 !default;
$yellow:#fee000 !default;
$h2-color: #00000094 !default;
$footer-main:#af11a5 !default;

