@media(max-width:428px){
    .flex-header{
        width: 100%;
    }
    .flex-header .main-item .end-section form{
        width: 11em;
    }
    .flex-header > .top-item{
        height: 90px;
        width: 100%;
    }
    .flex-header > .top-item p{
        text-align: right;
        width: 100%;
        margin: 0;
    }
    .flex-header .top-item p .left{
        width: 100%;
        text-align: center;
        margin: 2% auto;
    }
    .flex-header .top-item p a .sale{
        padding: 3px;
        margin: 2px;
    }
    .flex-header .top-item p .left .fa{
        margin: 0;
    }
    .flex-header .nav-item{
        display: none;
    }
    /* main */
    .main .slider .title h3{
        margin-left: 200px;
        font-size: 22px;
    }
    .main .slider .title h1{
        font-size: 37px;
        /* margin-left: 5px; */
    }
    .main .slider-album {
        width: 90%;
        height: auto;
        flex-flow: row nowrap;
    }
    .main .slider-album .pic{
        display: none;

    }
    .main .slider-album .pic a .fa{
        font-size: 12px;
    }
    .main .slider-album .pic:first-of-type{
        width: 30%;
        margin:0;
        display: inline-block;
    }
    .main .slider-album .pic:last-of-type{
        width: 30%;
        display: inline-block;    }

    .main .card{
        width: 90%;
        margin-top: 4%;
    }
    .main .card .right p {
        margin-left: 2px;
        margin-right: 0;
        font-size: 11px;
    }
    .main .card .left p a{
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    /* slide-sell */
    .main .sell-slide{
        width: 90%;
    }
    .main .sell-slide .items:first-of-type{
        display: block;
        width: 100%;
    }
    .main .sell-slide .items{
        display: none;
    }
    
    /* adv */
    .main .adv{
        height: auto;
        width: 90%;
        justify-content: center;
    }
    .main .adv .img{
        width: 100%;
    }
    .main .adv .text{
        width: 100%;
        text-align: center;
        margin-top: 4%;
    }
    .main .adv .third-column{
        width: 100%;
        text-align: center;
    }
    .main .adv .shopping{
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 50px;
        margin-bottom: 20px;
    }
    /* products */
    .main .products{
        width: 90%;
    }
    .main .products .product-items{
        width: 100%;
    }
    .main .products .product-items-one{
        width: 100%;

    }
    
    .main .products .product-items-one .left{
        top: -8px;
        height: auto;
    }
    .main .products .product-items-one .left h3{
        font-size: 14px;
        margin-top: 17px;
        margin-bottom: 5px;
    }
    .main .products .product-items-one .left p{
        font-size: 13px;
        margin: 0;
    }
    /* news */
    .main .news{
        width: 90%;
        flex-direction: row;
        height: auto;
        
    }
    .main .news .column-one{
        width: 100%;
        margin-bottom: 3%;
    }
    .main .news .column-one .second{
        overflow: hidden;
    }
    .main .news .column-two{
        width: 100%;
        margin-bottom: 5%;
        height: auto;
    }
    .main .news .column-two .container .items{
        height: auto;
    }
    .main .news .column-two .container .items .image{
        display: block;
        width: 100%;
        height: auto;
    }
    .main .news .column-two .container .items .tex{
        width: 100%;
        height: auto;
    }
    /* footer */
    .main .footer{
        height: auto;
        width: 100%;
    }
    .main .footer .footer-main{
        height: auto;
    }
    .main .footer .footer-main .column-item{
        width: 100%;
        height: auto;
    }

}
/* 768 --------------------------- */
@media(max-width:768px){
    .flex-header{
        width: 100%;
    }
    /* .flex-header .main-item .end-section form{
        width: 11em;
    } */
    .flex-header .top-item{
        height: 70px;
        width: 100%;
    }
    .flex-header .top-item p{
        text-align: right;
        width: 100%;
        margin: 0;
    }
    /* .flex-header .top-item p .left{
        width: 100%;
        text-align: center;
        margin: 2% auto;
    } */
    /* .flex-header .top-item p a .sale{
        padding: 3px;
        margin: 2px;
    }
    .flex-header .top-item p .left .fa{
        margin: 0;
    } */
    .flex-header .nav-item{
        display: none;
    }
    /* main */
    .main .slider .title h3{
        margin-left: 200px;
        font-size: 22px;
    }
    .main .slider .title h1{
        font-size: 37px;
        /* margin-left: 5px; */
    }
    .main .slider-album {
        width: 90%;
        height: auto;
        flex-flow: row nowrap;
    }
    .main .slider-album .pic{
        display: inline-block;
        width: 30%;
        height: auto;

    }
    .main .slider-album .pic a .fa{
        font-size: 12px;
    }
    .main .slider-album .pic:first-of-type{
        display: none;
    }
    .main .slider-album .pic:last-of-type{
        display: none;
    }

    .main .card{
        width: 90%;
        margin-top: 4%;
    }
    .main .card .right p {
        margin-left: 2px;
        margin-right: 0;
        font-size: 11px;
    }
    .main .card .left p a{
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    /* slide-sell */
    .main .sell-slide{
        width: 90%;
    }
    .main .sell-slide .items:first-of-type{
        display: none;
    }
    .main .sell-slide .items{
        width: 32%;
        margin-left: 10px;
        border: 1px solid #ebebeb;
        float: left;
        
    }
    
    .main .sell-slide .items .price .status{
        width: 100%;
        margin-top: 5%;
    }
    .main .sell-slide .items .price .status ul{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .main .sell-slide .items .price .status ul li{
        list-style: none;
        float: left;
        margin-left: 5px;
        
    }
    .main .sell-slide .items .price .status ul li a{
        border-radius: 50%;
        background-color: #F2F2F2;
        width: 20px;
        height: 20px;
        padding: 1px;
        text-align: center;
        vertical-align: middle;
        
    }
    /* adv */
    .main .adv{
        height: 250px !important;
        width: 90% !important;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-end;

    }
    .main .adv .img{
        flex: 0 0 120px;
        order: 1;
        height: 100px;
        width: 100px;
        align-self: baseline;
    }
    .main .adv .img img{
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .main .adv .third-column{
        width: 100px;
        text-align: right;
        height: 100px;
        order: 2;
        align-self: flex-end;
        justify-self: right;
        margin: 0 !important;
        flex: 0 0 120px;


    }
    .main .adv .text{
        text-align: justify;
        width: 350px !important;
        order: 3;
        height: 80px;
        align-self: stretch;
        
    }
    .main .adv .shopping{
        width:150px;
        text-align: left;
        margin-left: 0;
        order: 4;
        align-self: flex-end;
        margin-left: 100px;
    }
    .main .adv .shopping button{
        /* width: 100px !important; */
        text-align: right;
       
    }
    .main .adv .shopping button .fa{
        font-size: 16px;
    }
    /* products */
    .main .products{
        width: 90%;
    }
    .main .products .product-items{
        width: 45%;
    }
    .main .products .product-items-one{
        width: 100%;

    }
    
    .main .products .product-items-one .left{
        top: -8px;
        height: auto;
    }
    .main .products .product-items-one .left h3{
        font-size: 14px;
        margin-top: 17px;
        margin-bottom: 5px;
    }
    .main .products .product-items-one .left p{
        font-size: 13px;
        margin: 0;
    }
    /* news */
    .main .news{
        width: 90%;
        flex-direction: row;
        height: auto;
        
    }
    .main .news .column-one{
        width: 100%;
        margin-bottom: 3%;
    }
    .main .news .column-one .second{
        overflow: hidden;
    }
    .main .news .column-two{
        width: 100%;
        margin-bottom: 5%;
        height: auto;
    }
    .main .news .column-two .container .items{
        height: auto;
    }

}

/* 1024 ----------------------------------- */
@media(max-width:1024px){
    
    .flex-header .nav-item .nav-right{
        float: right;
        width: 45%;
        margin-right: 3%;
        position: relative;   
    }
    
    .flex-header .nav-item .nav-right ul .home{
        
        margin:0;
        clear: both;
        content: " ";
        font-size: 18px;
    
    
    }
    
    .flex-header .nav-item .nav-right ul .home a {
        font-size: 18px;
        margin: 0;
    }
    
    .flex-header .nav-item .nav-right ul li{
        list-style: none;
        float: right;
        margin-left: 1px;
        margin-top: 3%;
        font-size: 12px;
        position: relative;
        vertical-align: middle;
    
    }
    .main .sell-slide{
        width: 90%;
    }
    .main .sell-slide .items:first-of-type{
        display: none;
    }
    .main .sell-slide .items{
        width: 32%;
        margin-left: 10px;
        border: 1px solid #ebebeb;
        float: left;
        
    }
    
    .main .sell-slide .items .price .status{
        width: 100%;
        margin-top: 5%;
    }
    .main .sell-slide .items .price .status ul{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .main .sell-slide .items .price .status ul li{
        list-style: none;
        float: left;
        margin-left: 5px;
        
    }
    .main .sell-slide .items .price .status ul li a{
        border-radius: 50%;
        background-color: #F2F2F2;
        width: 20px;
        height: 20px;
        padding: 1px;
        text-align: center;
        vertical-align: middle;
        
    }
    /* adv */
    .main .adv{
        background-color: #fee000;
        width: 80%;
        height: auto;
        margin: 5% auto;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-flow: row nowrap;
    }
    .main .adv .img{
        margin-right: 10px;
    }
    .main .adv .text{
        width: 25%;
        height: auto;
        margin-right: 2%;
    
    }
    .main .adv .text p{
        font-size: 13px;
    }
    .main .adv .text h2{
        font-size: 25px;
        margin-top: 3%;
        margin-bottom: 3%;
        font-weight: 800;
        color: #00000094;
        text-shadow: 4px 2px 3px #00000094;
    }
    .main .adv .text h4{
        font-size: 18px;
        font-weight: bold;
        color: #212529;
    }
    /* third-column */
    .main .adv .third-column{
        width: 15%;
        margin-right: 6.5%;
    }
    .main .adv .third-column h3{
        color: #ff8175;
        font-weight: bold;
        
    }
    .main .adv .third-column h5{
        color:#92a0b6;
        font-size: 18px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .main .adv .third-column{
        color:#92a0b6;
    }
    
    /* shopping */
    .main .adv .shopping{
        width: 20%;
    }
    .main .adv .shopping button{
        margin-top: 3%;
        margin-right: 0;
        display: block;
        width: 140px;
        height: 40px;
        background-color: red;
        color: #fff;
    }
    .main .adv .shopping button:nth-child(2){
        background-color: #6c757d;
    }
    .main .adv .shopping button .fa{
        font-size: 30px;
        color: #fff;
        text-align: right;
        float: right;
    }



    /* product */
    .main .products{
        width: 90%;
    }
    .main .products .product-items{
        width: 20%;
        height: auto;
    }
    .main .products .product-items-one{
        width: 40%;
        height: auto;

    }
    
    .main .products .product-items-one .left{
        top: -8px;
        height: auto;
    }
    .main .products .product-items-one .left h3{
        font-size: 14px;
        margin-top: 17px;
        margin-bottom: 5px;
    }
    .main .products .product-items-one .left p{
        font-size: 13px;
        margin: 0;
    }
    /* news */
    .main .news{
        width: 90%;
        flex-direction: row;
        height: auto;
        
    }
    .main .news .column-one{
        margin-left: 3%;
        height: auto;

    }
    .main .news .column-one .second{
        overflow: hidden;
        
    }
    .main .news .column-two{
        height: auto;
    }
    .main .news .column-two .container .items{
        height: auto;
        margin-top: 0;
    }
    .main .news .column-two .container .items .image{
        height: 80%;
        width: 20%;

    }
    .main .news .column-two .container .items .image img{
        width: 100%;
        height: 100%;


    }
    .main .adv .shopping{
        width: 20%;
    }
    .main .adv .shopping button{
        margin-top: 3%;
        margin-right: 25%;
        display: block;
        width: 140px;
        height: 40px;
        background-color: red;
        color: #fff;
    }
    .main .adv .shopping button:nth-child(2){
        background-color: #6c757d;
    }
    .main .adv .shopping button .fa{
        font-size: 30px;
        color: #fff;
        text-align: right;
        float: right;
    }

    
}
/* 1444----------------------- */
@media(max-width:1444px){
    .main .adv{
        background-color: #fee000;
        width: 80%;
        height: auto;
        margin: 5% auto;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-flow: row nowrap;
    }
    .main .adv .img{
        margin-right: 10px;
    }
    .main .adv .text{
        width: 30%;
        height: auto;
        margin-right: 2%;
    
    }
    .main .adv .text p{
        font-size: 13px;
    }
    .main .adv .text h2{
        font-size: 25px;
        margin-top: 3%;
        margin-bottom: 3%;
        font-weight: 800;
        color: #00000094;
        text-shadow: 4px 2px 3px #00000094;
    }
    .main .adv .text h4{
        font-size: 18px;
        font-weight: bold;
        color: #212529;
    }
    /* third-column */
    .main .adv .third-column{
        width: 20%;
        margin-right: 6.5%;
    }
    .main .adv .third-column h3{
        color: #ff8175;
        font-weight: bold;
        
    }
    .main .adv .third-column h5{
        color:#92a0b6;
        font-size: 18px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .main .adv .third-column{
        color:#92a0b6;
    }
    
    /* shopping */
    .main .adv .shopping{
        width: 20%;
    }
    .main .adv .shopping button{
        margin-top: 3%;
        margin-right: 25%;
        display: block;
        width: 140px;
        height: 40px;
        background-color: red;
        color: #fff;
    }
    .main .adv .shopping button:nth-child(2){
        background-color: #6c757d;
    }
    .main .adv .shopping button .fa{
        font-size: 30px;
        color: #fff;
        text-align: right;
        float: right;
    }

}

